@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* .container {
  max-width: 100%;
  padding: 0 10px;
} */
/* Add padding to ensure content is not hidden behind the navbar */
.pt-navbar {
  /* padding-top: 1.5rem; */
  
}

.bg-gray-800 {
 
}

#about{
  padding: 0;
}

.project-cards {
  transition: transform 0.3s;
}

.project-cards:hover {
  transform: translateY(-10px);
}

.spacer {
  height: 2rem; 
}


/* body {
  overflow-x: hidden;
} */
/* .bg-radial-gradient {
  background: radial-gradient(circle, rgb(51, 29, 240), gray, rgb(5, 5, 5));
}

.bg-spotlight {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.9));
} */

.bg-custom-gradient {
  background: linear-gradient(to right, black,/*  #13201e, */ #140136);
}

/* .custom-card-height {
  height: 30rem;
}
 */
.skills-container {
  flex-direction: row;
    align-items: center;
}

.skill-card {
  height: 300px;
  /* transition: width 0.3s; */
  width: 300px;
}

/* .custom-image-height {
  height: 50%; 
  object-fit: cover; 
} */

.presentation-container {
  margin-top: 8rem;
}

@media (max-width: 768px) {
  .presentation-container {
    margin-top: 3rem; /* Adjust for smaller screens if needed */
  }
}



@media (max-width: 768px) {
  /* Tablet styles */
  .skills-container {
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }

  .skill-card {
    /* height: 300px; */
    width: 100%;
   /* width: 300px; */
  }

  .skill-card h5 {
    font-size: 1.1rem; /* Adjust font size for smaller screens */
  }

  .skill-card p {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 425px) {
  /* Mobile Large styles */
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    width: 100%; /* Adjust card width for better fit */
  }
}

@media (max-width: 375px) {
  /* Mobile Medium styles */
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    width: 100%; /* Adjust card width for better fit */
  }
}

@media (max-width: 320px) {
  /* Mobile Small styles */
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    width: 90%;
    margin: 7px;
  }
}
